body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    padding-bottom: 2.3rem;
    font-family: Arial;
    font-size: 17px;
    position: relative;
    background-color: #CCC;    
}
#nav {
    background-color: #222;
}
#nav_wrapper { 
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
    display: flex;
}
@media (max-width: 380px) {
    #nav ul {
        flex-direction: column;
        align-items: center;
    }    
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
    font-weight: bold;

}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
    min-width: 139px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
    font-weight: bold;
}


article {
    margin: 0 auto;
    padding-top: 64px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:50px;
    max-width: 900px;
    width: 100%;
}
.preview h2 {
    padding-left: 13px;
}
article h1{
    margin-top: 0;
}
html {
    height:100%;
    box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #699;
  text-align: center;
}
img.ma-rotesc {
    max-width: 100%;
    height: auto;
    width: auto\9;
    border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
} 
img.ma-rotesc:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.display-left {
    position:absolute;
    top:40%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.display-right {
    position:absolute;
    top:40%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
.black,.hover-black:hover {
    color:#fff!important;
    background-color:#000!important;
}

